
.navbar-collapse{
    justify-content: right;
}

.navbar{
    padding-right:10px !important;
}
.nav__link--active{
        color:$primary !important;
    }
.hamburger__content{
    position: absolute;
    top:0;
    left:0;
    right:0;
}
@media (max-width:766px){
    .navbar-collapse{
        display: flex;
        justify-content: left;
    }
}